.inner{
    overflow: hidden;
    max-height: 400px;
    flex-wrap: wrap;
}


.inner img{
    transition: all 1.5s ease;
}

.inner:hover img{
    transform: scale(1.2);
}

.custom-image {
    height: 200px; /* Set the desired height */
    object-fit: cover; /* Preserve aspect ratio and fill the container */
  }
  